<% layout('layouts/boilerplate')%>

  <div class="row">
    <div class="col-lg-5 offset-lg-1 me-lg-3">
      <div class="card mb-3 mt-2">
        <img src="<%= trail.image %>" height="400px" class="card-img-top" alt="N/A">
        <div class="card-body">
          <h4 class="card-title">
            <%= trail.title %>
          </h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Located in <%= trail.location %>
          </li>
          <li class="list-group-item"> Difficulty - <%= trail.difficulty %>
          </li>
          <li class="list-group-item">
            <%= trail.distance %> miles
          </li>
        </ul>
        <% if (currentUser && trail.author.equals(currentUser._id)) {%>
          <div class="card-body">
            <a href="<%=trail._id%>/edit" class="card-link btn btn-outline-info"> Edit trail </a>
            <form class="d-inline" action="/trails/<%=trail._id%>?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger"> Delete trail </button>
            </form>
          </div>
          <% } %>
            <div class="card-footer text-muted"> Added by <%=trail.author.username%>
            </div>
      </div>

      <div class="mb-3">
        <a href="/trails"> Return to all trails </a>
      </div>
    </div>
    <div class="col-lg-5 col-md-4">
      <form action="/trails/<%=trail._id%>/reviews" method="POST" class="mb-3 validated" novalidate>
        <div class="mb-3">
          <div class="mb-3">
            <h3 class="mt-2"> Leave a review </h3>
            <label for="rating" class="form-label"> Rating </label>
            <input type="range" class="form-range" min="1" max="5" name="rating" id="rating">
          </div>
          <label class="form-label" for="comment"> Review </label>
          <textarea class="form-control" name="comment" id="comment" cols="30" rows="5" required></textarea>
          <div class="valid-feedback"> Looks good! </div>
        </div>
        <button class="btn btn-success"> Submit </button>
      </form>

      <% for (let review of trail.reviews) {%>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"> Rating: <%= review.rating %>
            </h5>
            <p> Review: <%= review.comment %>
            </p>
            <form action="/trails/<%=trail._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger"> Delete </button>
            </form>
          </div>
        </div>
        <%}%>
    </div>
