<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/stylesheets/stars.css">

  <div class="row">
    <div class="col-lg-5 offset-lg-1 me-lg-3">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <% trail.images.forEach((img , i) => { %> 
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              <img src="<%= img.url %>" class="d-block w-100" alt="">
            </div>
            <%})%>
        </div>
          
          <% if (trail.images.length > 1) {%> 
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      <%}%>
    </div>

      <div class="card mb-3 mt-2">
        <div class="card-body">
          <h4 class="card-title">
            <%= trail.title %>
          </h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Located in <%= trail.location %>
          </li>
          <li class="list-group-item"> Difficulty - <%= trail.difficulty %>
          </li>
          <li class="list-group-item">
            <%= trail.distance %> miles
          </li>
        </ul>
        <% if (currentUser && trail.author.equals(currentUser._id)) {%>
          <div class="card-body">
            <a href="<%=trail._id%>/edit" class="card-link btn btn-outline-info"> Edit trail </a>
            <form class="d-inline" action="/trails/<%=trail._id%>?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger"> Delete trail </button>
            </form>
          </div>
          <% } %>
          <div class="card-footer text-muted"> Added by <%=trail.author.username%></div>
        </div> 
      <div class="mb-3">
        <a href="/trails"> Return to all trails </a>
      </div>
    </div>
    
    
    <div class="col-lg-5 col-md-4 mt-2">
      <div id='map' style='width: 400px; height: 300px;'>
      </div>
    <div class="col-lg-8">
      <form action="/trails/<%=trail._id%>/reviews" method="POST" class="mb-3 validated" novalidate>
        <div class="mb-3">
            <% if (currentUser) {%>
              <h3 class="mt-2 mb-3"> Leave a review </h3>
              <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                  aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
          <label class="form-label" for="comment"> Comment </label>
          <textarea class="form-control" name="comment" id="comment" rows="5" cols="100" required></textarea>
          <div class="valid-feedback"> Looks good! </div>
        </div>
        <button class="btn btn-success"> Submit </button>
      </form>
      <%}%>
        <% for (let review of trail.reviews) {%>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title mt-1">
                <%= review.author.username %>
              </h5>
              <p class="starability-result" data-rating="<%=review.rating %>">
                Rated: <%= review.rating%> stars
              </p>
              <p> Review: <%= review.comment %>
              </p>
              <form action="/trails/<%=trail._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                <% if (currentUser && review.author.equals(currentUser._id)) { %>
                  <button class="btn btn-sm btn-danger"> Delete </button>
                  <% } %>
              </form>
            </div>
          </div>
          <%}%>
  </div>


  <script>
const trail = <%- JSON.stringify(trail) %>;
  </script>
<script>
  mapboxgl.accessToken = '<%-process.env.MAP_BOX%>';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v12', 
  center: trail.geometry.coordinates,
  zoom: 10, // starting zoom
  })
  const marker1 = new mapboxgl.Marker()
.setLngLat(trail.geometry.coordinates)
.addTo(map);

</script>