<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center"> Edit <%= trail.title %> </h1>
    <div class="col-md-8 offset-md-2 my-3 col-xl-6 offset-xl-3">
        <form action='/trails/<%=trail._id%>?_method=PUT' method="POST" novalidate class="validated" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title"> Enter trail name </label>
                <input type="text" class="form-control" name="title" id="title" value="<%=trail.title%>" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location"> Enter state </label>
                <input type="text" class="form-control" name="location" id="location" value="<%=trail.location%>"
                    required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class=" mb-3">
                <label class="form-label" for="distance"> Enter distance in miles </label>
                <input type="text" class="form-control" name="distance" id="distance" value="<%=trail.distance%>"
                    required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class=" mb-3">
                <label class="form-label" for="difficulty"> Select difficulty </label>
                <select name="difficulty" class="form-control" id="difficulty" required>
                    <% for (let diff of difficulty) { %>
                        <option value="<%=diff%>" <%=trail.difficulty===diff ? 'selected' : '' %> > <%= diff %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div class="mb-3 ">
                <label for="image" class="form-label"> Add Image(s) </label>
                <input type="file" class="form-control" name="image" id="image" multiple>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="mb-3">
                <% trail.images.forEach(function(img, i) { %>
                    <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="" >
                    <div class="form-check-inline">
                        <input type="checkbox" id="image/<%=i%>" name="deleteImages[]" value="<%=img.filename%>" >
                        <label for="image/<%=i%>">Delete</label>
                    </div>
                <%})%> 
            </div>
            <button class="btn btn-info"> Update trail </button>
        </form>
    </div>
        <a href="/trails/<%=trail._id%>" class="offset-md-2 offset-xl-3 mb-4 mb-5"> Back to trails </a>
    </div>
